.outer {
  width: 10rem;
  height: 1rem;
  margin-bottom: 2rem;
  background: #c7c7c7;
  border-radius: 100px;
  overflow: hidden;
}

.inner {
  height: 100%;
  background-color: #0099ff;
  transition: all 1s ease-in;
}